<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test" preserve-order="false">
    <classes>
      <class name="com.intuit.tools.imat.cli.AppTest"/>
      <class name="com.intuit.tools.imat.cli.CommandLineParsingServiceTest"/>
      <class name="com.intuit.tools.imat.cli.IMATCLIModuleTest"/>
      <class name="com.intuit.tools.imat.commands.CommandGenerateProjectTest"/>
      <class name="com.intuit.tools.imat.config.PropertyFileConfigurationServiceTest"/>
      <class name="com.intuit.tools.imat.io.PathAnalyzerTest"/>
      <!-- <class name="com.intuit.tools.imat.commands.CommandInitEnvTest"/>-->
      <class name="com.intuit.tools.imat.scripts.AntScriptLauncherTest"/>
      <class name="com.intuit.tools.imat.validators.JavaScriptVariableValidatorTests" />
    </classes>
  </test>
</suite>
