<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	3</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:04Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Assertion failed when expression was: false type: boolean</string>
			<key>Screenshot</key>
			<string>7AA1FCFF-8653-4865-AB22-FE3949EEA9AB</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:05Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>2C7B29EF-4B7D-4724-A565-9FE77FF9D3D3</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:05Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>3BEB0FEE-16F6-4504-984F-5C34F01B1C10</string>
					<key>Timestamp</key>
					<date>2011-11-30T21:53:05Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>1759ED12-41E7-4367-91F0-8294F92187AD</string>
							<key>Timestamp</key>
							<date>2011-11-30T21:53:05Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>2F008E9B-88FD-4D14-9C05-54ECFA822909</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:53:05Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>C1040955-0E28-4BDA-A706-728343384F74</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>1FCC9670-9862-4391-BE65-02E5F93C4577</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>C9C1EF66-C7D6-48FE-83FC-E0EB63FB522C</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>1C6CE0E5-1CBC-429B-AADE-7BAFBC90C39F</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>CBCF2DEA-E139-41EC-837B-A6983EF5D461</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:53:05Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>57F9B0FB-75F8-476D-AD35-89AB389DCF4B</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>D4A1688C-A599-484A-A8B6-7CA0E071FDC6</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>35FC2AB5-5A76-435F-9F1B-EC4624E9C2B3</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>24FA81FF-EB21-4F81-84D5-D7E907B99129</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Screenshot</key>
			<string>26D46943-C0C7-4154-8CD8-91598436C436</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:05Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:05Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>'undefined' is not an object (evaluating 'this.viewContext[action]')</string>
			<key>Screenshot</key>
			<string>9C95F19C-6A3A-4F3A-9E13-45DF87660471</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:05Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>3E6BD674-3FD1-40C5-8255-A7694524A12D</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:05Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>CBD57FB8-9337-4283-ADEC-A4E5DE2A4A82</string>
					<key>Timestamp</key>
					<date>2011-11-30T21:53:05Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>FB95C904-5A59-49F2-B2BE-3EAE7C5BF5B8</string>
							<key>Timestamp</key>
							<date>2011-11-30T21:53:05Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>2B06EAEA-C1E5-415C-B3A2-1F67196D5700</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:53:05Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>6D2CC76B-8634-4B89-A51A-DC87FCBF93D2</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>6C5ED961-DB66-4F89-A65E-DE54B2DF61C5</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>41AC2D22-D9B6-4946-8F72-7E5B4789E71F</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>30F67B94-61AE-4D59-85C6-5F3027F7C257</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>CE1E122A-179A-4D8F-B4A1-191B6F9F9E89</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:53:05Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>89706E66-925A-4C19-9AB5-21B699265CBE</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>DEE874AF-55B1-400D-96BB-36EEC2A57CE3</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>B145FB49-CBD7-4F20-96A8-72B13301E653</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>CAC8C6B3-6444-49A0-BB0B-6570A3E9DD31</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:05Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Issue</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Screenshot</key>
			<string>1C7E0077-8CD7-42CB-BA02-CCAA2E274C18</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Stem View beginning specialization.</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Specializing to HomeScreenView</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:05 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:05 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>8CF5AC7A-3CE6-4CE9-8CAD-7D1557018468</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:05 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:05 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>AD13057C-A4CA-4099-8B37-D01106EA02C9</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:53:05 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:53:05 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>F340D915-2F53-482E-B460-3348EF5C24A1</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectListing()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Basic View INITIAL state. Wed Nov 30 2011 13:53:06 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Wed Nov 30 2011 13:53:06 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>472B2E06-5288-47F8-9FCD-C43715640AC0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:07Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: INITIAL state. Wed Nov 30 2011 13:53:06 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Wed Nov 30 2011 13:53:06 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>B6E6C520-D1CB-4018-B0A8-7FE6DE963C4F</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:07Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:08Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:08 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:08 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>C10587CF-0653-4F98-9FC8-AC3FBC1AE08E</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:08Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Warning</string>
			<key>Message</key>
			<string>Could not locate element: navBarWithTitle in view: HomeScreenView</string>
			<key>Screenshot</key>
			<string>53CF78D6-7D0C-44CD-8E30-20AE835AE5F8</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Validation Error: Title of Nav Bar was not valid: [object UIAElementNil] type: object</string>
			<key>Screenshot</key>
			<string>E91F5288-D714-46B1-BAED-B3F7AF6D976E</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>C72620BB-E3F1-43C9-8DD6-539566378C11</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>479C8BDC-4541-4CE8-A991-50EEC334EB6B</string>
					<key>Timestamp</key>
					<date>2011-11-30T21:53:14Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>82C9ADA3-6080-4492-A91A-B6339F5192E6</string>
							<key>Timestamp</key>
							<date>2011-11-30T21:53:14Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:News rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>E13E7409-B5CF-47F7-8403-F4533D92B825</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:53:14Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>105C2150-DBF4-42FC-B51A-F75847C6CD8E</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Sample App rect:{{5, 27}, {90, 30}}</string>
											<key>Screenshot</key>
											<string>1194B919-5D6C-4FAC-B2D6-1C5EFCC7D990</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:News value:News rect:{{133, 28}, {54, 27}}</string>
											<key>Screenshot</key>
											<string>DBECDEF4-1E00-43A4-BA2C-360D8B198CED</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIATableView: name:Empty list value:rows 1 to 4 of 4 rect:{{0, 64}, {320, 416}}</string>
									<key>Screenshot</key>
									<string>053EAC47-FD11-4339-B312-6F23A003C5D6</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:53:14Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableGroup: name:Social Media rect:{{0, 64}, {320, 22}}</string>
											<key>Screenshot</key>
											<string>4E147268-8822-4EFF-AFB0-2D50885351E9</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAElement: name:Social Media rect:{{0, 63}, {320, 23}}</string>
													<key>Screenshot</key>
													<string>E196B87A-0C49-47A6-92A0-F7DA09AF444D</string>
													<key>Timestamp</key>
													<date>2011-11-30T21:53:14Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook rect:{{0, 86}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>E36B3F38-3E5B-4C00-8264-6F46D6B3F541</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook value:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook rect:{{0, 86}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>123CA23A-C4FF-400D-8D4C-E7E6790DFA00</string>
													<key>Timestamp</key>
													<date>2011-11-30T21:53:14Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Small Busines. Rejoice!, Intuit on Twitter rect:{{0, 176}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>B4B9F9E2-4B0E-4701-86FE-9E92594CE86B</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Small Busines. Rejoice!, Intuit on Twitter value:Small Busines. Rejoice!, Intuit on Twitter rect:{{0, 176}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>5D8F062F-9979-4F07-AB3D-219699334B39</string>
													<key>Timestamp</key>
													<date>2011-11-30T21:53:14Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Keep up on the latest news from Intuit., Intuit in the Press rect:{{0, 266}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>135A6D3C-0252-47A3-A1CF-52AD1120FB79</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Keep up on the latest news from Intuit., Intuit in the Press value:Keep up on the latest news from Intuit., Intuit in the Press rect:{{0, 266}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>DF1A1730-A5E4-4F9E-9695-8905ADA0287B</string>
													<key>Timestamp</key>
													<date>2011-11-30T21:53:14Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Run into an issue or want to see an update? Let us know, Feedback rect:{{0, 356}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>670A55A8-DF0A-4BF5-A457-3043177592AE</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:53:14Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Run into an issue or want to see an update? Let us know, Feedback value:Run into an issue or want to see an update? Let us know, Feedback rect:{{0, 356}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>7EA873B4-5A31-4D9B-8C61-9AAAF94E4BCA</string>
													<key>Timestamp</key>
													<date>2011-11-30T21:53:14Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Screenshot</key>
			<string>00DB5C70-ED57-4951-9705-228683A4A15E</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:14 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:14 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>D33BF975-DB6E-4F53-A5E1-9A1FDEAF55CB</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:14 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:14 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>3BD90BEB-D0A3-4174-A100-C77DE44F6273</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:53:14 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:53:14 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>696F0880-3003-487E-BF92-4C4B32730E12</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:15Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:15Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:15 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:53:15 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>16C0A4F0-7EEA-4C2D-93C0-E4B04121EBB0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests passed:		1</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests failed:		1</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests with errors:	1</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Pass Percentage:			33.33333333333333%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Completion Percentage:		100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:53:16Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
