<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>Message</key>
			<string>IMAT: Loading Platform: iOS...</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:01 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.testScrollingWhileInIntuit()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectIntuitButton()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Aug 18 2011 17:33:02 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Thu Aug 18 2011 17:33:02 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:04 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.testScrollingWhileInIntuit()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Assertion failed when expression was: false type: boolean</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>1) UIATarget [name:iPhone Simulator value:(null) rect:{{x:0, y:0}, {width:-2, height:0}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>2) UIAApplication [name:sampleApp value:(null) rect:{{x:0, y:20}, {width:320, height:460}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>3) UIAWindow [name:(null) value:(null) rect:{{x:0, y:0}, {width:320, height:480}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIANavigationBar [name:Sample App value:(null) rect:{{x:0, y:20}, {width:320, height:44}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAStaticText [name:Sample App value:(null) rect:{{x:101, y:28}, {width:118, height:27}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:About value:(null) rect:{{x:260, y:27}, {width:55, height:30}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAScrollView [name:(null) value:(null) rect:{{x:0, y:64}, {width:320, height:396}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Events value:(null) rect:{{x:0, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Info value:(null) rect:{{x:107, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Intuit value:(null) rect:{{x:214, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Settings value:(null) rect:{{x:320, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Features value:(null) rect:{{x:0, y:196}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAElement [name:launcherPageDot: value:(null) rect:{{x:0, y:460}, {width:320, height:20}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:04 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:04Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Aug 18 2011 17:33:05 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:05Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:06 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Assertion failed when expression was: false type: boolean</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>1) UIATarget [name:iPhone Simulator value:(null) rect:{{x:0, y:0}, {width:0, height:0}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>2) UIAApplication [name:sampleApp value:(null) rect:{{x:0, y:20}, {width:320, height:460}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>3) UIAWindow [name:(null) value:(null) rect:{{x:0, y:0}, {width:320, height:480}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIANavigationBar [name:Sample App value:(null) rect:{{x:0, y:20}, {width:320, height:44}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAStaticText [name:Sample App value:(null) rect:{{x:101, y:28}, {width:118, height:27}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:About value:(null) rect:{{x:260, y:27}, {width:55, height:30}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAScrollView [name:(null) value:(null) rect:{{x:0, y:64}, {width:320, height:396}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Events value:(null) rect:{{x:0, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Info value:(null) rect:{{x:107, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Intuit value:(null) rect:{{x:214, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Settings value:(null) rect:{{x:320, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Features value:(null) rect:{{x:0, y:196}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAElement [name:launcherPageDot: value:(null) rect:{{x:0, y:460}, {width:320, height:20}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:06 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testScrollingInFeatures()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectFeaturesButton()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: INITIAL state. Thu Aug 18 2011 17:33:07 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:08Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeRight()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:08Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( lego.jpg pattern.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:09Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Thu Aug 18 2011 17:33:09 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:09Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeRight()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:09Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( pattern.jpg time.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:11Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Thu Aug 18 2011 17:33:10 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:11Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeLeft()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:11Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( time.jpg pattern.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Thu Aug 18 2011 17:33:12 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:12Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeLeft()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( pattern.jpg lego.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:13Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Thu Aug 18 2011 17:33:13 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:13Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:15 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testScrollingInFeatures()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Assertion failed when expression was: false type: boolean</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>1) UIATarget [name:iPhone Simulator value:(null) rect:{{x:0, y:0}, {width:0, height:0}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>2) UIAApplication [name:sampleApp value:(null) rect:{{x:0, y:20}, {width:320, height:460}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>3) UIAWindow [name:(null) value:(null) rect:{{x:0, y:0}, {width:320, height:480}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIANavigationBar [name:Sample App value:(null) rect:{{x:0, y:20}, {width:320, height:44}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAStaticText [name:Sample App value:(null) rect:{{x:101, y:28}, {width:118, height:27}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:About value:(null) rect:{{x:260, y:27}, {width:55, height:30}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAScrollView [name:(null) value:(null) rect:{{x:0, y:64}, {width:320, height:396}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Events value:(null) rect:{{x:0, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Info value:(null) rect:{{x:107, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Intuit value:(null) rect:{{x:214, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Settings value:(null) rect:{{x:320, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Features value:(null) rect:{{x:0, y:196}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAElement [name:launcherPageDot: value:(null) rect:{{x:0, y:460}, {width:320, height:20}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:15 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectEventsButton()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:15Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Thu Aug 18 2011 17:33:16 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Thu Aug 18 2011 17:33:16 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Thu Aug 18 2011 17:33:16 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollToBottom()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollToTop()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:17Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:18Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:18Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:18Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Aug 18 2011 17:33:19 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Assertion failed when expression was: false type: boolean</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>1) UIATarget [name:iPhone Simulator value:(null) rect:{{x:0, y:0}, {width:0, height:0}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>2) UIAApplication [name:sampleApp value:(null) rect:{{x:0, y:20}, {width:320, height:460}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>3) UIAWindow [name:(null) value:(null) rect:{{x:0, y:0}, {width:320, height:480}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIANavigationBar [name:Sample App value:(null) rect:{{x:0, y:20}, {width:320, height:44}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAStaticText [name:Sample App value:(null) rect:{{x:101, y:28}, {width:118, height:27}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:About value:(null) rect:{{x:260, y:27}, {width:55, height:30}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAScrollView [name:(null) value:(null) rect:{{x:0, y:64}, {width:320, height:396}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Events value:(null) rect:{{x:0, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Info value:(null) rect:{{x:107, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Intuit value:(null) rect:{{x:214, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Settings value:(null) rect:{{x:320, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Features value:(null) rect:{{x:0, y:196}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAElement [name:launcherPageDot: value:(null) rect:{{x:0, y:460}, {width:320, height:20}}]</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Script completed.</string>
			<key>Timestamp</key>
			<date>2011-08-19T00:33:19Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
