<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>Message</key>
			<string>IMAT: Loading Platform: iOS...</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:01 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.testScrollingWhileInIntuit()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectIntuitButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Sun Aug 14 2011 12:26:02 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Sun Aug 14 2011 12:26:02 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:03 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.testScrollingWhileInIntuit()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<dict>
				<key>expressionBeginOffset</key>
				<real>16086</real>
				<key>expressionEndOffset</key>
				<real>16128</real>
				<key>line</key>
				<real>462</real>
				<key>message</key>
				<string>Assertion failed when expression was: false type:boolean</string>
				<key>name</key>
				<string>AssertionException</string>
				<key>prototype</key>
				<dict/>
				<key>sourceId</key>
				<real>82951432</real>
				<key>sourceURL</key>
				<string></string>
			</dict>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:03 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Sun Aug 14 2011 12:26:05 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:05Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:06 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<dict>
				<key>expressionBeginOffset</key>
				<real>16086</real>
				<key>expressionEndOffset</key>
				<real>16128</real>
				<key>line</key>
				<real>462</real>
				<key>message</key>
				<string>Assertion failed when expression was: false type:boolean</string>
				<key>name</key>
				<string>AssertionException</string>
				<key>prototype</key>
				<dict/>
				<key>sourceId</key>
				<real>82951432</real>
				<key>sourceURL</key>
				<string></string>
			</dict>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:06 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testScrollingInFeatures()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectFeaturesButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: INITIAL state. Sun Aug 14 2011 12:26:07 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:07Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeRight()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( lego.jpg pattern.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:09Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 12:26:09 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:09Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeRight()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:09Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( pattern.jpg time.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 12:26:10 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:10Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeLeft()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( time.jpg pattern.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 12:26:12 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:12Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeLeft()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( pattern.jpg lego.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 12:26:13 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:14 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testScrollingInFeatures()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<dict>
				<key>expressionBeginOffset</key>
				<real>16086</real>
				<key>expressionEndOffset</key>
				<real>16128</real>
				<key>line</key>
				<real>462</real>
				<key>message</key>
				<string>Assertion failed when expression was: false type:boolean</string>
				<key>name</key>
				<string>AssertionException</string>
				<key>prototype</key>
				<dict/>
				<key>sourceId</key>
				<real>82951432</real>
				<key>sourceURL</key>
				<string></string>
			</dict>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:14 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectEventsButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Sun Aug 14 2011 12:26:15 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Sun Aug 14 2011 12:26:15 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Sun Aug 14 2011 12:26:15 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollToBottom()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollToTop()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:18Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:18Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:18Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 12:26:19 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<dict>
				<key>expressionBeginOffset</key>
				<real>16086</real>
				<key>expressionEndOffset</key>
				<real>16128</real>
				<key>line</key>
				<real>462</real>
				<key>message</key>
				<string>Assertion failed when expression was: false type:boolean</string>
				<key>name</key>
				<string>AssertionException</string>
				<key>prototype</key>
				<dict/>
				<key>sourceId</key>
				<real>82951432</real>
				<key>sourceURL</key>
				<string></string>
			</dict>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Script completed.</string>
			<key>Timestamp</key>
			<date>2011-08-14T19:26:19Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
