<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:35 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:35 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>2CF5CB5C-2929-45AB-8C7D-50D56DD3E91F</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:35 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:35 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>39BB89D0-41CA-473E-A765-AA0EC8EA9DBA</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:35Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectListing()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:37Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:43:36 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:43:36 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>0CAA4C06-B1BF-4A7F-B136-812AB8E3EC55</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:37Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:43:37 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:43:37 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>F1C5BF76-4110-4EC3-A54F-EEEEBF49275D</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:37Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:37Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: validateCorrectPageLoaded( Facebook)</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Correct Page Loaded state. Thu Dec 01 2011 11:43:38 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Correct Page Loaded state. Thu Dec 01 2011 11:43:38 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>8285D559-08C3-416F-A221-9B3B4EA7C942</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToInfoScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:38 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:38 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>682A58A3-3461-45C6-AFE5-9DD3C4B929D5</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:39 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:39Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:39 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>9D079796-C789-45A4-8533-934D1BBDA49C</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:39Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:39Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:39Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:39Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:39Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:39 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:39Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:39 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>C0BAD993-0E97-4B07-AC05-D3C6E0A32354</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:40Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:41 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:41 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>5CC56BF9-7DD6-4F8B-B85A-6FA2EFD7A767</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:41 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:43:41 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>3F1CFCDD-C46A-480E-ABDC-750CE927DA76</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:41Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:42 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:43:42 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>2067C110-95CD-408C-A8C3-EB5B4F5BB49F</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Assertion failed when expression was: false type: boolean</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:43:43Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
