<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Assertion failed when expression was: false type: boolean</string>
			<key>Screenshot</key>
			<string>29360625-B378-4CA9-AF8B-763B4C3472CD</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>E29C2403-1F58-43F9-B70F-487F935A9375</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>DD095EED-4E6E-4717-894D-81670A7B7BF8</string>
					<key>Timestamp</key>
					<date>2011-12-01T19:44:10Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>6580205D-E595-4305-95F1-41C6F304B929</string>
							<key>Timestamp</key>
							<date>2011-12-01T19:44:10Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>EEC22349-2C71-4DA2-8D2D-89FD462981FF</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:44:10Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>C4048940-DD08-4B2B-9F18-FFC5EAF14918</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>5F91AF10-D303-4AE0-8ED4-87FC75B2C460</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>9FDD6FE2-32D4-44A1-B98A-D93123A86AEC</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>C1B6645D-39CD-4660-8E65-C047A4A1A5D3</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>6A082A2B-A870-4B5E-8333-4DBA9F2BF5C4</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:44:10Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>CDA40AC4-B04D-4029-AF5A-BC2886F2711A</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>9E08EEDD-4B1C-4558-BB71-7CA0FF179519</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>B10C8E12-AA56-485D-8F78-B39FFCCE4E74</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>A8043D89-A93F-474D-B6CD-692079B1D642</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Screenshot</key>
			<string>2CB95027-50BF-4910-A299-41444B3CB316</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:10Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>'undefined' is not an object (evaluating 'this.viewContext[action]')</string>
			<key>Screenshot</key>
			<string>683D0FC4-B7F8-4325-A948-2BB5984ABAD0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>9D7434D5-B1FC-4CE7-A0E9-724642C1F055</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>DC088A68-A9B1-418F-A410-D7E114D500CE</string>
					<key>Timestamp</key>
					<date>2011-12-01T19:44:11Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>29D71569-8461-4325-A7D8-2A1FEAECE56C</string>
							<key>Timestamp</key>
							<date>2011-12-01T19:44:11Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>034B9B61-A0ED-4ED6-AF95-EBF6B5DE6340</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:44:11Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>8BFF3086-EF10-4E81-A176-75C1D03B2C48</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>73819E38-0A7D-40B2-A8C2-EEB46B6BEC32</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>394131CD-ECEE-437D-A68F-68DCCF896AC5</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>9506CD4B-8C0D-4ABE-B067-0516AA9F8EFB</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>531F7905-76DA-41F6-9FFA-0C322A04170F</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:44:11Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>9D58B489-4510-41AB-A748-4DE98908C9E1</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>8E650459-6949-4B29-AB12-486F5D0F617B</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>F25375CB-F510-432B-A746-2DC367015B1D</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>98C68C3B-A58C-4A14-BDED-4DAD938735FD</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:11Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Issue</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Screenshot</key>
			<string>B96CED41-AAB0-401D-8C80-67243F7E2781</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Stem View beginning specialization.</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Specializing to HomeScreenView</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:10 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:10 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>707E5933-D81A-4707-B59A-4A24646F45ED</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:10 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:10 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>8CCCE108-D29E-4D33-8954-7AAA4A7FA756</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:44:11 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:44:11 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>B2BD7152-8D3F-4C37-99D0-DD6A4345A2AA</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectListing()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:44:12 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:44:12 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>C841052B-9B27-4C8F-B2F8-C6722456A67F</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:44:12 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:44:12 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>5EF639A6-2D85-40DF-A645-B81769BBEFAE</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:13Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:13Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:13 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:13Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:13 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>D6C6F951-0206-43EA-B259-C8B2E323169C</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Warning</string>
			<key>Message</key>
			<string>Could not locate element: navBarWithTitle in view: HomeScreenView</string>
			<key>Screenshot</key>
			<string>F8EE6A61-6DBF-458F-AABF-90027E73CADC</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:18Z</date>
			<key>Type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Validation Error: Title of Nav Bar was not valid: [object UIAElementNil] type: object</string>
			<key>Screenshot</key>
			<string>55D11E8E-522D-4BA2-9A72-B897D2D366F3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>BFA2E74D-7A70-4822-938E-0CA9B424E821</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>6EBA7FB8-B1F6-4E6F-8910-4A127087E78D</string>
					<key>Timestamp</key>
					<date>2011-12-01T19:44:19Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>9AF05549-106E-4CB7-97B6-489728223A06</string>
							<key>Timestamp</key>
							<date>2011-12-01T19:44:19Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:News rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>9B7E4137-1161-461A-801F-EE5A4EED7969</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:44:19Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>2A7E9083-2EC6-4A81-BF2C-0EF5011ACA43</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Sample App rect:{{5, 27}, {90, 30}}</string>
											<key>Screenshot</key>
											<string>A44A7AF4-4CB5-4A3B-BE1F-78995DD02946</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:News value:News rect:{{133, 28}, {54, 27}}</string>
											<key>Screenshot</key>
											<string>B4598C53-8875-48C9-B5D0-22F63EB94BBF</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIATableView: name:Empty list value:rows 1 to 4 of 4 rect:{{0, 64}, {320, 416}}</string>
									<key>Screenshot</key>
									<string>99B86E96-DC50-4298-A35E-9D5407AE87BA</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:44:19Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableGroup: name:Social Media rect:{{0, 64}, {320, 22}}</string>
											<key>Screenshot</key>
											<string>E76CFDFB-B676-4F5B-8FCB-44F90A7DEBC8</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAElement: name:Social Media rect:{{0, 63}, {320, 23}}</string>
													<key>Screenshot</key>
													<string>6E26D5E8-126D-48C8-979B-F1AED274FBA6</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:44:19Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook rect:{{0, 86}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>DE626566-6639-4ED7-B51E-3D3E7222906A</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook value:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook rect:{{0, 86}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>190FE120-2BE4-40B5-9128-475B9DAF6B0B</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:44:19Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Small Busines. Rejoice!, Intuit on Twitter rect:{{0, 176}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>64CE77E2-3303-4D40-BBDA-FEE381849869</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Small Busines. Rejoice!, Intuit on Twitter value:Small Busines. Rejoice!, Intuit on Twitter rect:{{0, 176}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>64252F8D-0506-4C54-8510-91B075F8873F</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:44:19Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Keep up on the latest news from Intuit., Intuit in the Press rect:{{0, 266}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>358D35E7-74F5-4D51-94C0-005C41C42913</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Keep up on the latest news from Intuit., Intuit in the Press value:Keep up on the latest news from Intuit., Intuit in the Press rect:{{0, 266}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>ACC52071-EDBE-4101-9AC2-D75AC3DE69F5</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:44:19Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Run into an issue or want to see an update? Let us know, Feedback rect:{{0, 356}, {320, 90}}</string>
											<key>Screenshot</key>
											<string>B2B39214-14B0-4CF2-808A-127A5A16F160</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:44:19Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Run into an issue or want to see an update? Let us know, Feedback value:Run into an issue or want to see an update? Let us know, Feedback rect:{{0, 356}, {320, 90}}</string>
													<key>Screenshot</key>
													<string>27330FA6-0C2D-4377-B1C6-7BB640F33DFE</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:44:19Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Screenshot</key>
			<string>D44B950A-C019-4624-A495-21EE722B02E2</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:19 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:19 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>FF2E895B-A6E2-4AF1-8061-0BEB3C54E49B</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:19 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:19 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>193FA9C4-A597-4501-8764-B0057DC44ED0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:44:19 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:44:19 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>770F2286-7103-4EA2-BE4F-6B0AAC2F2998</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:19Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:20Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:20Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:20Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:20 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:44:20 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>01AA797D-6E21-4CA6-96C4-17AC828715A5</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests passed:		1</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests failed:		1</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests with errors:	1</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Pass Percentage:			33.33333333333333%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Completion Percentage:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:44:21Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
