<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	2</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>EventsTestSet.testSelectListingInEvents()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>913E5588-492E-4629-822F-9550838C341E</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testSelectListingInEvents()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectEventsButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Events"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: Basic View INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>79CF2C38-7CA8-4110-94B4-1DA78043A628</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: List View INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>7A829E47-4664-476C-81BE-EF97BFECBE38</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:27Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Thu Dec 01 2011 11:45:27 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>40E35C8F-497E-4691-AEDB-EAE4B6F66EEA</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:28Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectListing()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:29Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:45:28 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:45:28 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>5C5D75B0-E80D-49C5-8599-7057DA680C08</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:29Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:45:29 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:45:29 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>0645D926-5ECA-4787-A798-0F716A42BEC3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:29Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:29Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToEventsScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:30Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: Basic View INITIAL state. Thu Dec 01 2011 11:45:31 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Thu Dec 01 2011 11:45:31 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>B1F933FB-0472-4688-9BA1-F52D8707D880</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: List View INITIAL state. Thu Dec 01 2011 11:45:31 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Thu Dec 01 2011 11:45:31 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>C478BDD7-F215-4033-A431-F728876C593B</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: INITIAL state. Thu Dec 01 2011 11:45:31 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Thu Dec 01 2011 11:45:31 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>7146682A-F417-4C72-B21A-D439CB5FE1AD</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>C179D665-2770-4C23-A41A-28A18139AE48</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testSelectListingInEvents()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectEventsButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Events"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: Basic View INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>F47B4241-AF67-459E-94A7-D9BBA40055DC</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: List View INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>BBE60FBE-610D-45B4-ACDF-BB4656ECA2E3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Thu Dec 01 2011 11:45:32 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>C3294540-3412-4580-83CC-4AC97785EE5C</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:33Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollToBottom()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[6].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollToTop()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:45:34 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:45:34 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>8081556C-9709-4051-BD61-D9E76A7F50A4</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests passed:		2</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests failed:		0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests with errors:	0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Pass Percentage:			100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Completion Percentage:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:34Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
