<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	3</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:47 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:47 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>020173AF-7096-4EDE-A906-DB9790410012</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:47Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:48Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:48Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:48Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:48 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:48 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>B642DEF5-A167-458A-88B9-2BB8F04A0D3C</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:48Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectListing()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:49Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:49Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Basic View INITIAL state. Wed Nov 30 2011 13:54:49 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:49Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Wed Nov 30 2011 13:54:49 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>DE1195F6-968A-49DB-B58D-D0DFE9F88667</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:49Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: INITIAL state. Wed Nov 30 2011 13:54:49 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:49Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Wed Nov 30 2011 13:54:49 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>EDC4908B-F085-4EDA-B75F-8E34779CE695</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:49Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:49Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: validateCorrectPageLoaded( Facebook)</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Correct Page Loaded state. Wed Nov 30 2011 13:54:50 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Correct Page Loaded state. Wed Nov 30 2011 13:54:50 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>173A4BAC-1748-41FC-9D27-1D6492467348</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToInfoScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:50 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:50 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>9B695A62-AE90-4D00-9D0F-DAE4496C8926</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:51 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:51 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>EB5B1CBF-866E-4245-AB04-AA9FD1838E9B</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:51Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:51Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:51Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:51Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:51 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:51 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>2D75C372-6382-4DDD-885A-AC457D047CDD</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:52Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:53 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:53 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>CFB007E3-A899-47FA-A177-0C5CEAB8075C</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:53 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Wed Nov 30 2011 13:54:53 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>B935870B-6F80-4EC4-B02C-38CEB0880660</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:53Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:55 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:55 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>F0A4B7B9-99F6-4073-BF25-58E4786339DE</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Can't find variable: jones</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:55Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
