<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	2</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>EventsTestSet.testSelectListingInEvents()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:27 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:27 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>D955A68D-0ABC-461F-A0CA-3D79EC367B65</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testSelectListingInEvents()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectEventsButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Events"].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: Basic View INITIAL state. Wed Nov 30 2011 13:54:28 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Wed Nov 30 2011 13:54:28 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>9718144E-D92B-42D5-BC23-20E23E4635D5</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: List View INITIAL state. Wed Nov 30 2011 13:54:28 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Wed Nov 30 2011 13:54:28 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>4B2A491C-F21F-4F05-B57A-4CCCB5667604</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: INITIAL state. Wed Nov 30 2011 13:54:28 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Wed Nov 30 2011 13:54:28 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>E9E34ED7-C23B-4818-8213-D7EAE0E33D35</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:28Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectListing()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:29Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Basic View INITIAL state. Wed Nov 30 2011 13:54:29 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Wed Nov 30 2011 13:54:29 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>ABA2B7D4-9787-40C6-A3A8-71197D76E379</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:29Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: INITIAL state. Wed Nov 30 2011 13:54:29 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Wed Nov 30 2011 13:54:29 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>D4DF7BF9-E8FC-4AB1-9199-3A8979E6B56E</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:29Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:30Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToEventsScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: Basic View INITIAL state. Wed Nov 30 2011 13:54:31 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Wed Nov 30 2011 13:54:31 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>1175EDCD-FC56-4D56-B6E7-05E6DB743772</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: List View INITIAL state. Wed Nov 30 2011 13:54:31 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Wed Nov 30 2011 13:54:31 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>EA8902B7-AB26-4A59-BC6F-8D8747EA0004</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: INITIAL state. Wed Nov 30 2011 13:54:31 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Wed Nov 30 2011 13:54:31 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>AE7739BD-D8CE-4F43-A492-7E7D0395ABED</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:31Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:32Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:32 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:32 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>7A83771C-CDF1-4912-906A-3BA589911588</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testSelectListingInEvents()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectEventsButton()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Events"].tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: Basic View INITIAL state. Wed Nov 30 2011 13:54:33 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Wed Nov 30 2011 13:54:33 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>E54A7EB0-02B3-489D-A1E3-947AAC0025C7</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: List View INITIAL state. Wed Nov 30 2011 13:54:33 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Wed Nov 30 2011 13:54:33 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>3EDAE62E-ECDF-4649-BA2D-59FF5272EC1F</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE EventsView: INITIAL state. Wed Nov 30 2011 13:54:33 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Wed Nov 30 2011 13:54:33 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>B7F6C93D-2C77-469B-8B04-7128E18E2B39</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:33Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollToBottom()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[6].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollToTop()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:35 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:54:35 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>6613E4D7-B104-46FF-883B-2CBB60889E88</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests passed:		2</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests failed:		0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests with errors:	0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Pass Percentage:			100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Completion Percentage:		100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Assertion failed when expression was: false type: boolean</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:54:35Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
