<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	3</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:07 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:07 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>F538325F-9E83-44C5-8E6A-70AC6D1E0D16</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Can't find variable: jones</string>
			<key>Screenshot</key>
			<string>62D54610-C383-4F81-A6A1-E3B42E6A9B3E</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>91133CF4-EEBF-4072-8435-E4F70C1A2BF3</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>6B972EB5-4DA0-4447-B34D-4312A2B4CEC0</string>
					<key>Timestamp</key>
					<date>2011-11-30T21:55:08Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>7C230472-4DEF-4FBD-8B61-51A2C1EB2A62</string>
							<key>Timestamp</key>
							<date>2011-11-30T21:55:08Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>1B31FDCF-4F56-446E-8A66-B23247454FD4</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:55:08Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>7AAF2C4E-B8FD-459C-90F9-91FFD5ED9A16</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>A01EF815-3D1E-46E8-A076-F78B41DE9EEB</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>FBFE0679-B957-4B09-A2C7-F7A557A3A360</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>2D665643-73AE-4881-AA38-688C90C33194</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>A6F285B4-8138-416F-99F8-DFA6F3A30AD1</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:55:08Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>CD74AE5C-E660-4A40-A816-6419BAC58BE0</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>5008CF9F-3130-43F5-9617-C1D4CF0676BC</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>0F34A692-957A-4460-80D0-094D832B8DD0</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>6C98A5F2-085B-43EE-9F14-8CA6DFF7E342</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Issue</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Screenshot</key>
			<string>41B6617A-6C26-4A06-B3D9-F0C686E25BB0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:08 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:08 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>A96EC2C5-A26C-43E1-A792-317442720A9A</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Can't find variable: jones</string>
			<key>Screenshot</key>
			<string>B1D41ED6-4F94-45D6-9844-ADA662333574</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>8240E4BD-0452-4618-9E4B-0A95C2FCB756</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:08Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>4E01AB44-46B9-4E62-9C9D-00603514A9EF</string>
					<key>Timestamp</key>
					<date>2011-11-30T21:55:08Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>88C8B894-E6A0-430E-9E0B-D25DCA34237C</string>
							<key>Timestamp</key>
							<date>2011-11-30T21:55:08Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>6DEA53A6-20A9-43F2-95F6-5D50066A4BFD</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:55:08Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>60317AF6-1481-4ECB-9EEC-E894E52D6C49</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>3BF88CBF-1D1D-46F9-87D4-47537E75BD4F</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>D95E6408-0CC1-489F-97C9-353D23108D5F</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>22FDE0F3-EBA4-412E-955F-AC635820F375</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:08Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>EA1E4B0C-9658-4D0C-A0F0-CD523A170E2F</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:55:08Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>7F5EB670-642F-4D37-BA06-DE146F5252CE</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>9133E106-D348-4A8F-AD8A-F850B94EDD36</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>11449BD1-B2C5-44D5-8612-4ADE6489DF6A</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>7A5B0A58-FDDD-4D57-9F9B-C19F6A60524A</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Issue</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Screenshot</key>
			<string>01CD7D82-7442-40FC-98DC-90C55B1E5581</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:08 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:08 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>1A746176-5037-49C6-8387-D6A74535C5AB</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Can't find variable: jones</string>
			<key>Screenshot</key>
			<string>D126E013-FC8A-4F65-B307-6DB0326AB48C</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>632F3F45-F34D-4489-B1F1-A71640E1B730</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>5F3515F9-0BFB-4160-B314-989E411A0294</string>
					<key>Timestamp</key>
					<date>2011-11-30T21:55:09Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>DDBF3675-7E58-427C-8690-F5E0E2199A44</string>
							<key>Timestamp</key>
							<date>2011-11-30T21:55:09Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>727911B2-C00E-4857-8018-D399AB3089B9</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:55:09Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>1686C3AE-AD42-44D6-AE2D-CBDE718778F6</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>4612D987-04AC-4540-83B9-A3062B28B6F1</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>6C84F867-D588-4122-A314-69382FAB3BF6</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>4ED5AA95-DFE2-4F2C-BE64-A96964003850</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>EE033CFA-86AC-4D87-BE71-DF253DC418FE</string>
									<key>Timestamp</key>
									<date>2011-11-30T21:55:09Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>98578C10-8CA0-4FDC-B548-50FF124FF9B6</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>455AF03D-5A02-4E07-98D8-B1CA7347351D</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>641F4FC5-D98A-4AC5-8FA0-0E98119FB61D</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>B5051C5A-1EF0-4E19-A1A5-CB485A869AE9</string>
											<key>Timestamp</key>
											<date>2011-11-30T21:55:09Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Issue</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Screenshot</key>
			<string>1612E3C7-0299-4CEA-B1FC-0F89B7E3ADE7</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:08 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Wed Nov 30 2011 13:55:08 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>6AE19949-E35C-4981-852A-89387FABD26E</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:09Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests passed:		0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests failed:		0</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests with errors:	3</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Pass Percentage:			0%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Completion Percentage:		100%</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-11-30T21:55:10Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
