<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:01 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:01 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>BB214B83-1BFC-482E-A10A-2C163E669CDF</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:01 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:01 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>E0EB7938-DBC4-40F2-AD1B-28B8D9DB1DFA</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:01Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectListing()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:02Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[0].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:02Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:47:02 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:02Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Thu Dec 01 2011 11:47:02 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>09A4D268-DE1D-4706-8928-C8608B89E93C</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:02Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:47:02 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:02Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Thu Dec 01 2011 11:47:02 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>B5EE7631-263F-46FA-ADDC-1BBE426C0DB6</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: validateCorrectPageLoaded( Facebook)</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE WebView: Correct Page Loaded state. Thu Dec 01 2011 11:47:05 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Correct Page Loaded state. Thu Dec 01 2011 11:47:05 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>336BCBF3-D4A9-4C97-BA66-39C7D0C32824</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToInfoScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:05 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:05 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>44D6C4D4-D92F-45DD-B9F9-5DFE3267186B</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:06 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:06 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>8157A3F2-7818-426B-9912-6F0B0A5C73DB</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:06Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:06Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:06 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:06 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>C66F5C86-49FB-460E-BDAE-0DC263B49D27</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:07Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:08 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:08 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>022A9C8E-2F6A-4825-889D-B947A9918306</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()["Info"].tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:08 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Thu Dec 01 2011 11:47:08 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>30BD7A84-3346-4C35-8C9D-2D886285F6BA</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:08Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBar().leftButton().tap()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:10 GMT-0800 (PST)")</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Thu Dec 01 2011 11:47:10 GMT-0800 (PST)</string>
			<key>Screenshot</key>
			<string>69722D5B-F0D8-4E21-A527-CEA2423FE658</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Can't find variable: jones</string>
			<key>Screenshot</key>
			<string>CAD84D23-CFF3-4E1E-9095-A5F28E9ABE5A</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>19EAEC7C-C1EC-443C-B635-0A68BA0A7E89</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>713BF41F-E2B1-48A0-B19F-258120E9B01E</string>
					<key>Timestamp</key>
					<date>2011-12-01T19:47:10Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>4727B58E-DB6B-4F48-BFC5-EAE7ADC73618</string>
							<key>Timestamp</key>
							<date>2011-12-01T19:47:10Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>AE26C2AE-C9A6-40BB-A863-CEDE65268F18</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:47:10Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>D2F69C07-F913-4AC0-902E-8D9BC02E27EC</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {0, 30}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Sample App rect:{{89, 27}, {90, 30}}</string>
											<key>Screenshot</key>
											<string>1013FA15-6B8F-466A-880D-9DDDF0F1E572</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>CCBF789C-8B89-4771-89F4-5AB32FF5F00A</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>D16F5505-7F03-493A-AF2A-5974DD14FE7C</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:News value:News rect:{{320, 28}, {54, 27}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>F3CD4AC8-DA0D-4450-B3F2-3EA66826D81F</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:47:10Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>A7CE05E9-0433-4196-A067-ECCF29AE913E</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>A47763BD-0E0E-492C-BA95-F10F2FB4E887</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>036C1089-E9F7-409E-A15F-AFBD2C39E96C</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>F084FDEC-57F5-4D1D-9EB1-54EC4AB70AA6</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIATableView: name:Empty list value:rows 1 to 4 of 4 rect:{{320, 64}, {320, 416}}</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:47:10Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableGroup: name:Social Media rect:{{320, 64}, {320, 22}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAElement: name:Social Media rect:{{320, 63}, {320, 23}}</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:47:10Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook rect:{{320, 86}, {320, 90}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook value:Check out Intuit on Facebook, like it, and tell your friends!, Intuit on Facebook rect:{{320, 86}, {320, 90}}</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:47:10Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Small Busines. Rejoice!, Intuit on Twitter rect:{{320, 176}, {320, 90}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Small Busines. Rejoice!, Intuit on Twitter value:Small Busines. Rejoice!, Intuit on Twitter rect:{{320, 176}, {320, 90}}</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:47:10Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Keep up on the latest news from Intuit., Intuit in the Press rect:{{320, 266}, {320, 90}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Keep up on the latest news from Intuit., Intuit in the Press value:Keep up on the latest news from Intuit., Intuit in the Press rect:{{320, 266}, {320, 90}}</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:47:10Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIATableCell: name:Run into an issue or want to see an update? Let us know, Feedback rect:{{320, 356}, {320, 90}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:10Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array>
												<dict>
													<key>LogType</key>
													<string>Debug</string>
													<key>Message</key>
													<string>UIAStaticText: name:Run into an issue or want to see an update? Let us know, Feedback value:Run into an issue or want to see an update? Let us know, Feedback rect:{{320, 356}, {320, 90}}</string>
													<key>Timestamp</key>
													<date>2011-12-01T19:47:10Z</date>
													<key>Type</key>
													<integer>0</integer>
													<key>children</key>
													<array/>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>60C29B36-E1F9-4F27-9315-82DB859E909C</string>
							<key>Timestamp</key>
							<date>2011-12-01T19:47:10Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Issue</string>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Screenshot</key>
			<string>4FF289A6-010F-4231-9D89-D5C25D2AEF82</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests passed:		3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests failed:		0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests with errors:	0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Pass Percentage:			100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Completion Percentage:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:10Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
