<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>Message</key>
			<string>IMAT: Loading Platform: iOS...</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:38 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.testScrollingWhileInIntuit()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectIntuitButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:38Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: Basic View INITIAL state. Sun Aug 14 2011 11:41:39 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:39Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE WebView: INITIAL state. Sun Aug 14 2011 11:41:39 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:39Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: waitForActivity()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:39Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:40Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:40Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:40Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:41 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.testScrollingWhileInIntuit()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>IntuitTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:41 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectInfoButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:41Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE InfoView: INITIAL state. Sun Aug 14 2011 11:41:42 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:42Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:42Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:42Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:42Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:43 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>InfoTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:43 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testScrollingInFeatures()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectFeaturesButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:43Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: INITIAL state. Sun Aug 14 2011 11:41:44 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:45Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeRight()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:45Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( lego.jpg pattern.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:46Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 11:41:46 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:46Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeRight()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:46Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( pattern.jpg time.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 11:41:47 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:47Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeLeft()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:47Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( time.jpg pattern.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:49Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 11:41:49 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:49Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: swipeLeft()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:49Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: validateImageSwitched( pattern.jpg lego.jpg)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:51Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE FeaturesView: image switched state. Sun Aug 14 2011 11:41:50 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:51Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:51Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:52 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testScrollingInFeatures()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:52 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: selectEventsButton()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:52Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: Basic View INITIAL state. Sun Aug 14 2011 11:41:53 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:53Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: List View INITIAL state. Sun Aug 14 2011 11:41:53 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:53Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE EventsView: INITIAL state. Sun Aug 14 2011 11:41:53 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:53Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollToBottom()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:53Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollToTop()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:54Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollDown()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: scrollUp()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>ACTION: returnToHomeScreen()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>SCREEN: VALIDATE HomeScreenView: INITIAL state. Sun Aug 14 2011 11:41:56 GMT-0700 (PDT)</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:56Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.testScrollingWhileViewingEventsList()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:56Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:56Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>EventsTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:56Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:56Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Exception raised while running script: ReferenceError: Can't find variable: jones
3653: 	 */ 
3654: 	cleanUpSuite: function() 
3655: 	{ 
3656: 		//assertTrue(false); 
3657: 		jones.print(); &lt;-----
3658: 		IMAT.log_trace("Cleaning up Suite"); 
3659: 	} 
3660: }); 
3661:  
3662:  
</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:57Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Script completed.</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:41:57Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
