<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	3</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testSelectListingInInfo()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testFailureExample()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>InfoTestSet.testScrollingWhileViewingInfoList()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Can't find variable: jones</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:17Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Stopped</string>
			<key>Message</key>
			<string>Script was stopped by the user</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:46:17Z</date>
			<key>Type</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
