<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Can't find variable: jones</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:45:56Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
