<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Automated Tests:	0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Manual Tests:		2</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Percentage automated:		0%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>****Expected Tests****</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyPasses()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyFails()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>**********************</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyPasses()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>MANUAL: This test is marked as Passing during manual execution. 7/20/2011</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyPasses()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyFails()</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>MANUAL: This test is marked as failing during manual execution. 7/20/2011</string>
			<key>Screenshot</key>
			<string>36DDBDB8-4DF0-4F90-8F6D-A1A6B439511F</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIATarget: name:iPhone Simulator rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>54EB002E-C350-41F7-B86E-69FB3B300B7D</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:55Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAApplication: name:sampleApp rect:{{0, 20}, {320, 460}}</string>
					<key>Screenshot</key>
					<string>7C3D31C3-E5E6-4297-8CB6-991FA2990F73</string>
					<key>Timestamp</key>
					<date>2011-12-01T19:47:55Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
							<key>Screenshot</key>
							<string>D4410753-C133-4F5C-AC15-ECCB3740AFB6</string>
							<key>Timestamp</key>
							<date>2011-12-01T19:47:55Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIANavigationBar: name:Sample App rect:{{0, 20}, {320, 44}}</string>
									<key>Screenshot</key>
									<string>D8C802C0-967E-48E9-888A-8B7DE8AFDB91</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:47:55Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
											<key>Screenshot</key>
											<string>982CD076-0E91-48C6-A5C9-0DC92BC2B8D4</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: rect:{{5, 27}, {49, 30}}</string>
											<key>Screenshot</key>
											<string>1257880C-D8B8-4F17-B485-FAABD7F1FD49</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAStaticText: name:Sample App value:Sample App rect:{{101, 28}, {117, 27}}</string>
											<key>Screenshot</key>
											<string>4315F602-1CFE-42C8-8635-B1A1A2F2A3BF</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:About rect:{{260, 27}, {55, 30}}</string>
											<key>Screenshot</key>
											<string>A977CBA1-56A8-4ED2-9DBE-D74EE2159FEA</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAScrollView: rect:{{0, 64}, {320, 396}}</string>
									<key>Screenshot</key>
									<string>B816A4FA-6B56-4528-BBE4-6A8A9E50C614</string>
									<key>Timestamp</key>
									<date>2011-12-01T19:47:55Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Events rect:{{0, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>7133F6B2-2E81-4940-9278-8D71CFDCFF68</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Info rect:{{107, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>8B27A13D-C39A-4A73-88D0-6CBA014DC235</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Intuit rect:{{214, 64}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>8246046F-4744-4833-9178-A684C1F0CED2</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Settings rect:{{320, 64}, {107, 132}}</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAButton: name:Features rect:{{0, 196}, {107, 132}}</string>
											<key>Screenshot</key>
											<string>99D14440-7360-4ABE-9149-CC0647C8BAAC</string>
											<key>Timestamp</key>
											<date>2011-12-01T19:47:55Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Fail</string>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyFails()</string>
			<key>Screenshot</key>
			<string>155E68EA-0421-4EDD-88E1-2EBD7649EFA8</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests passed:		1</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests failed:		1</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Number of Tests with errors:	0</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Pass Percentage:			50%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Completion Percentage:		100%</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-12-01T19:47:56Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
