<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>Message</key>
			<string>IMAT: Loading Platform: iOS...</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.initSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.setUpTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyPasses()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>MANUAL: This test is marked as Passing during manual execution. 7/20/2011</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyPasses()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyFails()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>MANUAL: This test is marked as failing during manual execution. 7/20/2011</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>1) UIATarget [name:iPhone Simulator value:(null) rect:{{x:0, y:0}, {width:-2, height:0}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>2) UIAApplication [name:sampleApp value:(null) rect:{{x:0, y:20}, {width:320, height:460}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>3) UIAWindow [name:(null) value:(null) rect:{{x:0, y:0}, {width:320, height:480}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIANavigationBar [name:Sample App value:(null) rect:{{x:0, y:20}, {width:320, height:44}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:(null) value:(null) rect:{{x:5, y:27}, {width:49, height:30}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAStaticText [name:Sample App value:(null) rect:{{x:101, y:28}, {width:118, height:27}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:About value:(null) rect:{{x:260, y:27}, {width:55, height:30}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAScrollView [name:(null) value:(null) rect:{{x:0, y:64}, {width:320, height:396}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Events value:(null) rect:{{x:0, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Info value:(null) rect:{{x:107, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Intuit value:(null) rect:{{x:214, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Settings value:(null) rect:{{x:320, y:64}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>5) UIAButton [name:Features value:(null) rect:{{x:0, y:196}, {width:107, height:132}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>4) UIAElement [name:launcherPageDot: value:(null) rect:{{x:0, y:460}, {width:320, height:20}}]</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.testManuallySomethingThatCurrentlyFails()</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>FeaturesTestSet.tearDownTestSet();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>suiteHandler.cleanUpSuite();</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Message</key>
			<string>Script completed.</string>
			<key>Timestamp</key>
			<date>2011-08-14T18:05:28Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
